<div class="form-group">
	<label for="verzekeringsMaatschappijen">Maatschappij en Soort</label>
	<select id="verzekeringsMaatschappijen" name="verzekeringsMaatschappijen" data-bind="value: maatschappij"></select>
	<select id="soortVerzekering" name="soortVerzekering" data-bind="value: soort">
		<option value="">Kies een soort verzekering...</option>
		<option value="Aansprakelijkheid">Aansprakelijkheid</option>
		<option value="Auto">Auto</option>
		<option value="Brom-/Snorfiets">Brom-/Snorfiets</option>
		<option value="Camper">Camper</option>
		<option value="Caravan">Caravan</option>
		<option value="Annulerings">Annulerings</option>
		<option value="Reis">Reis</option>
		<option value="Fiets">Fiets</option>
		<option value="Inboedel">Inboedel</option>
		<option value="Leven">Leven</option>
		<option value="Mobiele apparatuur">Mobiele apparatuur</option>
		<option value="Motor">Motor</option>
		<option value="Ongevallen">Ongevallen</option>
		<option value="Pakket">Pakket</option>
		<option value="Pleziervaartuig">Pleziervaartuig</option>
		<option value="Recreatie">Recreatie</option>
		<option value="Rechtsbijstand">Rechtsbijstand</option>
		<option value="Reis">Reis</option>
		<option value="Woonhuis">Woonhuis</option>
		<option value="Zorg">Zorg</option>
	</select>
	<select id="soortVerzekeringAlles" name="soortVerzekeringAlles" style="display:none;" data-bind="value: soort">
		<option value="">Kies een soort verzekering...</option>
		<option value="Aansprakelijkheid">Aansprakelijkheid</option>
		<option value="Auto">Auto</option>
		<option value="Brom-/Snorfiets">Brom-/Snorfiets</option>
		<option value="Camper">Camper</option>
		<option value="Caravan">Caravan</option>
		<option value="Annulerings">Annulerings</option>
		<option value="Reis">Reis</option>
		<option value="Fiets">Fiets</option>
		<option value="Inboedel">Inboedel</option>
		<option value="Leven">Leven</option>
		<option value="Mobiele apparatuur">Mobiele apparatuur</option>
		<option value="Motor">Motor</option>
		<option value="Ongevallen">Ongevallen</option>
		<option value="Pakket">Pakket</option>
		<option value="Pleziervaartuig">Pleziervaartuig</option>
		<option value="Recreatie">Recreatie</option>
		<option value="Rechtsbijstand">Rechtsbijstand</option>
		<option value="Reis">Reis</option>
		<option value="Woonhuis">Woonhuis</option>
		<option value="Zorg">Zorg</option>
	</select>
</div>
<form enctype="multipart/form-data" id="polisForm">
	<input type="hidden" id="polisId" />
	<div class="form-group">
		<label for="status">Status</label>
		<select id="status" name="status" data-bind="value: status">
			<option value="Aanvraag/Offerte">Aanvraag/Offerte</option>
			<option value="Actief">Actief</option>
			<option value="Geschorst">Geschorst</option>
			<option value="Premievrij">Premievrij</option>
			<option value="Beindigd">Beindigd</option>
		</select>
	</div>
	<div class="form-group">
		<label for="polisNummer">Polisnummer</label>
		<input class="form-control" type="text" id="polisNummer" name="polisNummer" placeholder="Polisnummer..." maxlength="25" data-bind="value: polisNummer" />
	</div>
	<div class="form-group">
		<label for="kenmerk">Kenmerk</label>
		<input class="form-control" type="text" id="kenmerk" name="kenmerk" placeholder="Kenmerk..." maxlength="100"
			   data-bind="value: kenmerk"/>
	</div>
	<div class="form-group">
		<label for="premie">Premie</label>
		<input class="form-control" type="text" id="premie" placeholder="Premie..."  data-bind="value: premie" />
	</div>
	<div class="form-group">
		<label for="ingangsDatumString">Ingangsdatum</label>
		<input class="form-control" type="text" id="ingangsDatumString" placeholder="Ingangs datum..." data-bind="value: ingangsDatum, event: {blur: veranderDatum(ingangsDatum), blur: berekenProlongatieDatum}" />
	</div>
	<div class="form-group">
		<label for="wijzigingsdatumString">Wijzigingsdatum</label>
		<input class="form-control" type="text" id="wijzigingsdatumString" placeholder="Wijzigingsdatum..." data-bind="value: wijzigingsDatum, event: {blur: veranderDatum(wijzigingsDatum)}"/>
	</div>
	<div class="form-group">
		<label for="prolongatiedatumString">Prolongatiedatum</label>
		<input class="form-control" type="text" id="prolongatiedatumString" placeholder="Prolongatiedatum..." data-bind="value: prolongatieDatum, event: {blur: veranderDatum(prolongatieDatum)}" />
	</div>
	<div class="form-group">
		<label for="betaalfrequentie">Betaalfrequente</label>
		<div id="div_betaalfrequentie">
			<select id="betaalfrequentie" data-bind="value: betaalfrequentie">
				<option value="">Betaalfrequentie...</option>
				<option value="Maand">Maand</option>
				<option value="Kwartaal">Kwartaal</option>
				<option value="Half jaar">Half jaar</option>
				<option value="Jaar">Jaar</option>
			</select>
		</div>
	</div>
	<div class="form-group" id="bedrijfBijPolisDiv">
		<label for="bedrijfBijPolis">Bedrijf (evt.)</label>
		<select id="bedrijfBijPolis"></select>
	</div>
	<br />
	<div class="form-group">
		<label for="omschrijvingVerzekering">Omschrijving Verzekering</label>
		<textarea id="omschrijvingVerzekering" placeholder="Omschrijving Verzekering..." data-bind="value: omschrijvingVerzekering"></textarea>
	</div>
						
	<table class="table">
		<tr>
			<th>Bijlage</th>
			<!--th>Verwijderen</th-->
		</tr>
		<tbody data-bind="foreach: bijlages">
			<tr>
				<td><a data-bind="attr:{href: url}, title: omschrijvingOfBestandsNaam, text: omschrijvingOfBestandsNaam"
					   target="_blank"></a></td>
				<!--td data-bind="click: $parent.verwijderBijlage" style="cursor:pointer;">X</td-->
			</tr>
		</tbody>
	</table>

	<div class="form-group" id="uploadPolis1">
		<input type="file" id="uploadPolis1File" name="uploadPolis1File" onchange="nieuwePolisUpload(1);" />
		<input type="text" id="uploadPolis1Omschrijving" name="uploadPolis1Omschrijving"/>
		<progress id="filePolis1Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis2" style="display:none;">
		<input type="file" id="uploadPolis2File" name="uploadPolis2File" onchange="nieuwePolisUpload(2);" />
		<input type="text" id="uploadPolis2Omschrijving" name="uploadPolis2Omschrijving"/>
		<progress id="filePolis2Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis3" style="display:none;">
		<input type="file" id="uploadPolis3File" name="uploadPolis3File" onchange="nieuwePolisUpload(3);" />
		<input type="text" id="uploadPolis3Omschrijving" name="uploadPolis3Omschrijving"/>
		<progress id="filePolis3Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis4" style="display:none;">
		<input type="file" id="uploadPolis4File" name="uploadPolis4File" onchange="nieuwePolisUpload(4);" />
		<input type="text" id="uploadPolis4Omschrijving" name="uploadPolis4Omschrijving"/>
		<progress id="filePolis4Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis5" style="display:none;">
		<input type="file" id="uploadPolis5File" name="uploadPolis5File" onchange="nieuwePolisUpload(5);" />
		<input type="text" id="uploadPolis5Omschrijving" name="uploadPolis5Omschrijving"/>
		<progress id="filePolis5Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis6" style="display:none;">
		<input type="file" id="uploadPolis6File" name="uploadPolis6File" onchange="nieuwePolisUpload(6);" />
		<input type="text" id="uploadPolis6Omschrijving" name="uploadPolis6Omschrijving"/>
		<progress id="filePolis6Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis7" style="display:none;">
		<input type="file" id="uploadPolis7File" name="uploadPolis7File" onchange="nieuwePolisUpload(7);" />
		<input type="text" id="uploadPolis7Omschrijving" name="uploadPolis7Omschrijving"/>
		<progress id="filePolis7Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis8" style="display:none;">
		<input type="file" id="uploadPolis8File" name="uploadPolis8File" onchange="nieuwePolisUpload(8);" />
		<input type="text" id="uploadPolis8Omschrijving" name="uploadPolis8Omschrijving"/>
		<progress id="filePolis8Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis9" style="display:none;">
		<input type="file" id="uploadPolis9File" name="uploadPolis9File" onchange="nieuwePolisUpload(9);" />
		<input type="text" id="uploadPolis9Omschrijving" name="uploadPolis8Omschrijving"/>
		<progress id="filePolis9Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis10" style="display:none;">
		<input type="file" id="uploadPolis10File" name="uploadPolis10File" onchange="nieuwePolisUpload(10);" />
		<input type="text" id="uploadPolis10Omschrijving" name="uploadPolis10Omschrijving"/>
		<progress id="filePolis10Progress" style="display:none;"></progress>
	</div>
	<input type="hidden" id="hoeveelFiles" />
	<script>
		function nieuwePolisUpload(nummer){
			$('#hoeveelFiles').val(nummer);
			$('#uploadPolis' + ++nummer).show();
		}
	</script>
</form>
<div class="form-group">
	<label for="opslaanPolis">&nbsp;</label>
	<button id="opslaanPolis" class=" btn btn-primary" data-bind="click: opslaan">Opslaan</button>
</div>