<div class="form-group">
	<label for="naam">Maatschappij en Soort</label>
	<select id="verzekeringsMaatschappijen" name="verzekeringsMaatschappijen" data-bind="value: maatschappij"></select>
	<select id="soortVerzekering" name="soortVerzekering" data-bind="value: soort">
		<option value="">Kies een soort verzekering...</option>
		<option value="Aansprakelijkheid">Aansprakelijkheid</option>
		<option value="Auto">Auto</option>
		<option value="Brom-/Snorfiets">Brom-/Snorfiets</option>
		<option value="Camper">Camper</option>
		<option value="Annulerings">Annulerings</option>
		<option value="Reis">Reis</option>
		<option value="Fiets">Fiets</option>
		<option value="Inboedel">Inboedel</option>
		<option value="Leven">Leven</option>
		<option value="Mobiele apparatuur">Mobiele apparatuur</option>
		<option value="Motor">Motor</option>
		<option value="Ongevallen">Ongevallen</option>
		<option value="Pleziervaartuig">Pleziervaartuig</option>
		<option value="Recreatie">Recreatie</option>
		<option value="Rechtsbijstand">Rechtsbijstand</option>
		<option value="Reis">Reis</option>
		<option value="Woonhuis">Woonhuis</option>
		<option value="Zorg">Zorg</option>
	</select>
	<select id="soortVerzekeringAlles" name="soortVerzekeringAlles" style="display:none;" data-bind="value: soort">
		<option value="">Kies een soort verzekering...</option>
		<option value="Aansprakelijkheid">Aansprakelijkheid</option>
		<option value="Auto">Auto</option>
		<option value="Brom-/Snorfiets">Brom-/Snorfiets</option>
		<option value="Camper">Camper</option>
		<option value="Annulerings">Annulerings</option>
		<option value="Reis">Reis</option>
		<option value="Fiets">Fiets</option>
		<option value="Inboedel">Inboedel</option>
		<option value="Leven">Leven</option>
		<option value="Mobiele apparatuur">Mobiele apparatuur</option>
		<option value="Motor">Motor</option>
		<option value="Ongevallen">Ongevallen</option>
		<option value="Pleziervaartuig">Pleziervaartuig</option>
		<option value="Recreatie">Recreatie</option>
		<option value="Rechtsbijstand">Rechtsbijstand</option>
		<option value="Reis">Reis</option>
		<option value="Woonhuis">Woonhuis</option>
		<option value="Zorg">Zorg</option>
	</select>
</div>
<form enctype="multipart/form-data" id="polisForm">
	<input type="hidden" id="polisId" />
	<div class="form-group">
		<label for="naam">Polisnummer</label>
		<input class="form-control" type="text" id="polisNummer" name="polisNummer" placeholder="Polisnummer..." maxlength="25" data-bind="value: polisNummer" />
	</div>
	<div class="form-group">
		<label for="naam">Premie</label>
		<input class="form-control" type="text" id="premie" placeholder="Premie..."  data-bind="value: premie" />
	</div>
	<div class="form-group">
		<label for="naam">Ingangsdatum</label>
		<input class="form-control" type="text" id="ingangsDatumString" placeholder="Ingangs datum..." data-bind="value: ingangsDatum, event: {blur: veranderDatum(ingangsDatum), blur: berekenProlongatieDatum}" />
	</div>
	<div class="form-group">
		<label for="naam">Wijzigingsdatum</label>
		<input class="form-control" type="text" id="wijzigingsdatumString" placeholder="Wijzigingsdatum..." data-bind="value: wijzigingsDatum, event: {blur: veranderDatum(wijzigingsDatum)}"/>
	</div>
	<div class="form-group">
		<label for="naam">Prolongatiedatum</label>
		<input class="form-control" type="text" id="prolongatiedatumString" placeholder="Prolongatiedatum..." data-bind="value: prolongatieDatum, event: {blur: veranderDatum(prolongatieDatum)}" />
	</div>
	<div class="form-group">
		<label for="naam">Betaalfrequente</label>
		<div id="div_betaalfrequentie">
			<select id="betaalfrequentie" data-bind="value: betaalfrequentie">
				<option value="">Betaalfrequentie...</option>
				<option value="Maand">Maand</option>
				<option value="Kwartaal">Kwartaal</option>
				<option value="Half jaar">Half jaar</option>
				<option value="Jaar">Jaar</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="naam">Bedrijf (evt.)</label>
		<select id="bedrijfBijPolis"></select>
	</div>
	<div class="form-group" id="uploadPolis1">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis1File" name="uploadPolis1File" onchange="nieuwePolisUpload(1);" />
		<progress id="filePolis1Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis2" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis2File" name="uploadPolis2File" onchange="nieuwePolisUpload(2);" />
		<progress id="filePolis2Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis3" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis3File" name="uploadPolis3File" onchange="nieuwePolisUpload(3);" />
		<progress id="filePolis3Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis4" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis4File" name="uploadPolis4File" onchange="nieuwePolisUpload(4);" />
		<progress id="filePolis4Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis5" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis5File" name="uploadPolis5File" onchange="nieuwePolisUpload(5);" />
		<progress id="filePolis5Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis6" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis6File" name="uploadPolis6File" onchange="nieuwePolisUpload(6);" />
		<progress id="filePolis6Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis7" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis7File" name="uploadPolis7File" onchange="nieuwePolisUpload(7);" />
		<progress id="filePolis7Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis8" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis8File" name="uploadPolis8File" onchange="nieuwePolisUpload(8);" />
		<progress id="filePolis8Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis9" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis9File" name="uploadPolis9File" onchange="nieuwePolisUpload(9);" />
		<progress id="filePolis9Progress" style="display:none;"></progress>
	</div>
	<div class="form-group" id="uploadPolis10" style="display:none;">
		<label for="file">&nbsp;</label>
		<input type="file" id="uploadPolis10File" name="uploadPolis10File" onchange="nieuwePolisUpload(10);" />
		<progress id="filePolis10Progress" style="display:none;"></progress>
	</div>
	<input type="hidden" id="hoeveelFiles" />
	<script>
		function nieuwePolisUpload(nummer){
			$('#hoeveelFiles').val(nummer);
			$('#uploadPolis' + ++nummer).show();
		}
	</script>
</form>
<div class="form-group">
	<label for="opslaanPolis">&nbsp;</label>
	<button id="opslaanPolis" class=" btn btn-primary" data-bind="click: opslaan">Opslaan</button>
</div>