<ul class="nav nav-tabs" role="tablist">
	<li><div class="navdiv" id="beherenRelatie">Relatie Gegevens</div></li>

	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bedrijven<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="bedrijven">Overzicht bedrijven</div></li>
			<li><div class="navdiv" id="bedrijf">Bedrijf Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Polissen<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="polissen">Overzicht polissen</div></li>
			<li><div class="navdiv" id="polis">Polis Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Schades<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="schades">Overzicht schades</div></li>
			<li><div class="navdiv" id="schade">Schade Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hypotheken<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="hypotheken">Overzicht hypotheken</div></li>
			<li><div class="navdiv" id="hypotheek">Hypotheek Toevoegen</div></li>
		</ul>
	</li>
	<li><div class="navdiv" id="bijlages">Overzicht Bijlages</div></li>
</ul>

<input type="hidden" id="id" name="id" data-bind="value: id" />

<div id="details">details</div>

