<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean id="MariaDbServer" class="nl.lakedigital.djfc.mariadbserver.MariaDBServer" init-method="init">
        <property name="poortNummer" value="3315"/>
    </bean>

    <context:component-scan base-package="nl.dias"/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" depends-on="MariaDbServer">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <property name="url" value="jdbc:mysql://localhost:3315/test"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>nl.dias</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <!--&lt;!&ndash;<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" >&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="sessionFactory" ref="sessionFactory" />&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->
    <!--&lt;!&ndash;<tx:annotation-driven transaction-manager="transactionManager" mode="proxy" proxy-target-class="true" />&ndash;&gt;-->

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:databaseChangeLog.xml"/>
    </bean>

    <!-- Embedded ActiveMQ
    <bean id="broker" class="org.apache.activemq.xbean.BrokerFactoryBean">
        <property name="config" value="classpath:activemq.xml" />
        <property name="start" value="true" />
    </bean>

    <import resource="applicationContext-jms.xml" />
    -->
    <bean id="adresClient" class="nl.lakedigital.djfc.client.oga.AdresClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="bijlageClient" class="nl.lakedigital.djfc.client.oga.BijlageClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="communicatieClient" class="nl.lakedigital.djfc.client.communicatie.CommunicatieClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="groepBijlagesClient" class="nl.lakedigital.djfc.client.oga.GroepBijlagesClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="opmerkingClient" class="nl.lakedigital.djfc.client.oga.OpmerkingClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="polisClient" class="nl.lakedigital.djfc.client.polisadministratie.PolisClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="rekeningClient" class="nl.lakedigital.djfc.client.oga.RekeningClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="telefoonnummerClient" class="nl.lakedigital.djfc.client.oga.TelefoonnummerClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <!--<bean id="taakClient" class="nl.lakedigital.as.taakbeheer.client.TaakClient">-->
        <!--<property name="basisUrl" value="${oga.url}"/>-->
    <!--</bean>-->
    <bean id="telefonieBestandClient" class="nl.lakedigital.djfc.client.oga.TelefonieBestandClient">
        <property name="basisUrl" value="${oga.url}"/>
    </bean>
    <bean id="taakClient" class="nl.lakedigital.djfc.client.taakbeheer.TaakClient">
        <property name="basisUrl" value="${tb.url}"/>
    </bean>
</beans>
