label {
	float: left;
	margin-bottom: 0px;
	width: 200px;
}

input {
	width: 500px !important;
}

.polisLabel {
	width: 200px;
	float: left;
}

.schadeLabel {
	width: 250px;
	float: left;
}

.polisNietActief {
	color: #CCCCCC;
}

.panel-heading {
	padding: 10px 15px 30px;
}

.btn-group,.btn-group-vertical {
	position: absolute;
}

input[type="checkbox"] {
	width: 25px !important;
}

.uitloggen {
	display: none;
	cursor: pointer;
	text-decoration: underline;
}

.tt-suggestions{
	background-color:#FFFFFF;
	padding:15px;
}

.tt-cursor{
	cursor:pointer;
}