<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>dejonge</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>liquibase.changelog</param-name>
		<param-value>nl/dias/service/liquibase/databaseChangeLog.xml</param-value>
	</context-param>

	<context-param>
		<param-name>liquibase.datasource</param-name>
		<param-value>jdbcDias</param-value>
	</context-param>

	<listener>
		<listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>jersey-servlet-medewerker</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>nl.dias.web.medewerker</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet-medewerker</servlet-name>
		<url-pattern>/rest/medewerker/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jersey-servlet-authorisatie</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>nl.dias.web.authorisatie</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet-authorisatie</servlet-name>
		<url-pattern>/rest/authorisatie/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Authorisatie</filter-name>
		<filter-class>nl.dias.web.filter.AuthorisatieFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Authorisatie</filter-name>
		<url-pattern>/rest/medewerker/*</url-pattern>
	</filter-mapping>
</web-app>